// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-gearwheel-name: 'icon_gearwheel';
$icon-gearwheel-x: 0px;
$icon-gearwheel-y: 27px;
$icon-gearwheel-offset-x: 0px;
$icon-gearwheel-offset-y: -27px;
$icon-gearwheel-width: 32px;
$icon-gearwheel-height: 32px;
$icon-gearwheel-total-width: 32px;
$icon-gearwheel-total-height: 92px;
$icon-gearwheel-image: 'sprite-benefits-icons.png';
$icon-gearwheel: (0px, 27px, 0px, -27px, 32px, 32px, 32px, 92px, 'sprite-benefits-icons.png', 'icon_gearwheel', );
$icon-params-name: 'icon_params';
$icon-params-x: 0px;
$icon-params-y: 60px;
$icon-params-offset-x: 0px;
$icon-params-offset-y: -60px;
$icon-params-width: 32px;
$icon-params-height: 32px;
$icon-params-total-width: 32px;
$icon-params-total-height: 92px;
$icon-params-image: 'sprite-benefits-icons.png';
$icon-params: (0px, 60px, 0px, -60px, 32px, 32px, 32px, 92px, 'sprite-benefits-icons.png', 'icon_params', );
$icon-truck-name: 'icon_truck';
$icon-truck-x: 0px;
$icon-truck-y: 0px;
$icon-truck-offset-x: 0px;
$icon-truck-offset-y: 0px;
$icon-truck-width: 32px;
$icon-truck-height: 26px;
$icon-truck-total-width: 32px;
$icon-truck-total-height: 92px;
$icon-truck-image: 'sprite-benefits-icons.png';
$icon-truck: (0px, 0px, 0px, 0px, 32px, 26px, 32px, 92px, 'sprite-benefits-icons.png', 'icon_truck', );
$spritesheet-width: 32px;
$spritesheet-height: 92px;
$spritesheet-image: 'sprite-benefits-icons.png';
$spritesheet-sprites: ($icon-gearwheel, $icon-params, $icon-truck, );
$spritesheet: (32px, 92px, 'sprite-benefits-icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
